<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Autom8
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Autom8</ion-card-subtitle>
        <ion-card-title>Creation Studio</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          <ion-item>
            <ion-label>Test Suite</ion-label>
            <ion-button size="large" expand="block" color="tertiary" [routerLink]="['./test-suite']">New</ion-button>
          </ion-item>
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
